.clickable {
  cursor: pointer;
  width: fit-content;
}

.recipe-card {
  width: 100%;
  max-width: 400px;
  margin: 32px 0;
  border-radius: 4px;

  > img {
    display: block;
    margin: 0 auto 16px auto;
    border-radius: 4px;
    max-width: 100%;
    height: auto;
  }
}

.recipe-subtitle-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
