@import "~@angular/material/theming";

// https://material.angular.io/guide/theming-your-components
// https://material.angular.io/guide/typography

@mixin app-footer-theme($theme) {
  $font-config: mat-typography-config();
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-footer {
    color: mat-color($primary, 100);
    background-color: mat-color($primary);

    a {
      color: mat-color($primary, 100);

      &:hover {
        color: white;
      }
    }

    .link-container {
      color: white;
    }

    .logo {
      color: mat-color($primary, 200);
    }
  }
}
