<footer class="footer">
  <div class="social-media-links">
    <h3>Folge uns</h3>
    <ng-container *ngFor="let mediaLink of socialMediaLinks">
      <a [routerLink]="mediaLink.reference" [title]="mediaLink.label">
        <i [class]="['fab', 'fa-' + mediaLink.iconName]"></i>
      </a>
    </ng-container>
  </div>

  <div class="link-group-container">
    <div *ngFor="let linkGroup of linkGroups" class="link-group">
      <h3 class="link-group-heading">{{ linkGroup.label }}</h3>
      <ul>
        <li *ngFor="let link of linkGroup.links">
          <a [routerLink]="link.reference" [title]="link.label">{{ link.label }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="legal">
    <app-logo></app-logo>
    <span>© {{ currentYear }} happybelly GmbH</span>
  </div>
</footer>
