<div class="app-footer">
  <div class="social-medial-links">
    <a
      [routerLink]="'/'"
      class="fab fa-instagram"
    ></a>
    <a
      [routerLink]="'/'"
      class="fab fa-snapchat"
    ></a>
  </div>

  <div class="link-container">
    <div class="link-collection">
      <div class="heading">Rezepte</div>
      <a [routerLink]="'/'">Entdecken</a>
      <a [routerLink]="'/'">Kochbücher</a>
    </div>
    <div class="link-collection">
      <div class="heading">Unternehmen</div>
      <a [routerLink]="'/'">Über uns</a>
      <a [routerLink]="'/'">Karriere</a>
      <a [routerLink]="'/'">Impressum & Kontakt</a>
      <a [routerLink]="'/'">Datenschutzerklärung</a>
    </div>
  </div>

  <div class="logo">
    <img [src]="'./assets/happybelly.svg'" />
    © 2019 happybelly GmbH
  </div>
</div>
