<div class="app-footer">
  <div class="social-media-collection">
    <a>A</a>
    <a>B</a>
  </div>
  <div class="navigation">
    <div class="link-collection">
      <strong>Label</strong>
      <a>A</a>
      <a>A</a>
      <a>A</a>
      <a>A</a>
      <a>A</a>
    </div>
    <div class="link-collection">
      <strong>Label</strong>
      <a>B</a>
      <a>B</a>
      <a>B</a>
      <a>B</a>
      <a>B</a>
    </div>
    <div class="link-collection">
      <strong>Label</strong>
      <a>C</a>
      <a>C</a>
      <a>C</a>
      <a>C</a>
      <a>C</a>
    </div>
  </div>
  <div class="logo">
    <img [src]="'./assets/happybelly.svg'" />
    © 2019 happybelly GmbH
  </div>
</div>
