<header class="sticky-header">
  <mat-toolbar color="primary">
    <div class="left-aligned container">
      <button
        *ngIf="showSideNavigation"
        mat-icon-button
        class="side-navigation-trigger"
        (click)="sideNavigationToggled.emit()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <app-logo></app-logo>
    </div>

    <!-- Navigation -->
    <nav *ngIf="showMainNavigation" class="centered container">
      <a mat-button [routerLink]="navigationConfig.mainNavigation.explore.reference">
        <mat-icon>{{ navigationConfig.mainNavigation.explore.iconName }}</mat-icon>
        {{ navigationConfig.mainNavigation.explore.label }}
      </a>

      <button mat-button [matMenuTriggerFor]="cookbookMenu">
        <mat-icon>{{ navigationConfig.mainNavigation.cookBook.iconName }}</mat-icon>
        {{ navigationConfig.mainNavigation.cookBook.label }}
      </button>
      <mat-menu #cookbookMenu="matMenu">
        <ng-container *ngFor="let menu of navigationConfig.mainNavigation.cookBook.subMenus">
          <a mat-menu-item [routerLink]="menu.reference">
            <mat-icon>{{ menu.iconName }}</mat-icon>
            {{ menu.label }}
          </a>
        </ng-container>
      </mat-menu>
    </nav>

    <!-- Login, Register, Menu -->
    <div class="right-aligned container">
      <a mat-icon-button [routerLink]="'/'">
        <mat-icon>login</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</header>
