.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.side-navigation-trigger {
    margin-right: 1rem;
}

.container {
    display: flex;
    align-items: center;

    &.centered {
        flex: 3 0 70%;
        justify-content: center;
    }

    &.left-aligned {
        flex: 1 0 15%;
        justify-content: flex-start;
    }

    &.right-aligned {
        flex: 1 0 15%;
        justify-content: flex-end;
    }
}
