<header class="sticky-header">
  <mat-toolbar color="primary">
    <div class="left-aligned container">
      <button
        *ngIf="showSideNavigation"
        mat-icon-button
        class="side-navigation-trigger"
        (click)="sideNavigationToggled.emit()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <app-logo></app-logo>
    </div>

    <!-- Navigation -->
    <nav *ngIf="showMainNavigation" class="centered container">
      <ng-container *ngFor="let menu of navigationConfig.mainNavigation">
        <ng-container *ngTemplateOutlet="menu.links ? headerMenu : headerLink; context:{ 'value': menu }"></ng-container>
      </ng-container>
    </nav>

    <!-- Login, Register, Menu -->
    <div class="right-aligned container">
      <a mat-icon-button [routerLink]="'/'">
        <mat-icon>login</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</header>


<ng-template #headerLink let-menu="value">
  <a mat-button [routerLink]="menu.self.reference">
    <mat-icon>{{ menu.self.iconName }}</mat-icon>
    {{ menu.self.label }}
  </a>
</ng-template>

<ng-template #headerMenu let-menu="value">
  <button mat-button [matMenuTriggerFor]="matMenu">
    <mat-icon>{{ menu.self.iconName }}</mat-icon>
    {{ menu.self.label }}
  </button>
  <mat-menu #matMenu="matMenu">
    <ng-container *ngFor="let link of menu.links">
      <a mat-menu-item [routerLink]="link.reference">
        <mat-icon>{{ link.iconName }}</mat-icon>
        {{ link.label }}
      </a>
    </ng-container>
  </mat-menu>
</ng-template>
