<mat-card class="recipe-card">
  <mat-card-header class="clickable" (click)="openDetailsOf(recipe)">
    <mat-card-title>
      {{ recipe?.details?.title | truncate: 150:true }}
    </mat-card-title>
    <mat-card-subtitle>
      <app-rating [rating]="recipe.rating"></app-rating>
    </mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    class="clickable cover-image"
    (click)="openDetailsOf(recipe)"
    [src]="recipe.getCoverImageSource()"
  />

  <mat-card-content class="clickable" (click)="openDetailsOf(recipe)">
    <p>{{ recipe?.details?.description | truncate: 150:true }}</p>
  </mat-card-content>

  <mat-card-actions [align]="'end'">
    <button mat-button color="primary" (click)="openDetailsOf(recipe)">
      <mat-icon aria-label="Open details">launch</mat-icon>
      Details
    </button>
  </mat-card-actions>
</mat-card>
