.recipe-card {
  max-width: 400px;
  margin: 32px;
  border-radius: 4px;
}

.recipe-card > img {
  display: block;
  margin: 0 auto 0 auto;
  padding-bottom: 16px;
  max-width: 100%;
  height: auto;
}

img.cover-image {
  border-radius: 8px;
}

.clickable {
  cursor: pointer;
}