<mat-card class="recipe-card">
  <mat-card-header>
    <mat-card-title>
      {{recipe?.details?.title | truncate:150:true}}
    </mat-card-title>
    <mat-card-subtitle>
      <app-rating [rating]="recipe.rating"></app-rating>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="cover-image" [src]="recipe.getCoverImageSource()">
  <mat-card-content>
    <p>
      {{recipe?.details?.description | truncate:150:true}}
    </p>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-button color="primary">
      <mat-icon aria-label="Open details">launch</mat-icon>
      Details
    </button>
  </mat-card-actions>
</mat-card>
