<div class="carousel-slides-container">
  <button
    *ngIf="showControls"
    mat-button
    class="carousel-control previous"
    (click)="showPreviousSlide()"
  >
    &#10094;
  </button>

  <!--
      <div class="carousel-slides" [@slideInOut]="slideIndex$ | async">
  -->
  <div class="carousel-slides">
    <ng-container
      *ngFor="let slideComponent of (slideComponents$ | async); let i = index"
      [ngTemplateOutlet]="slideComponent.templateRef"
    ></ng-container>
  </div>

  <button
    *ngIf="showControls"
    mat-button
    class="carousel-control next"
    (click)="showNextSlide()"
  >
    &#10095;
  </button>
</div>

<mat-radio-group
  *ngIf="showIndicators"
  class="carousel-indicators"
  [value]="slideIndex$ | async"
>
  <mat-radio-button
    *ngFor="let slideComponent of (slideComponents$ | async); let i = index"
    class="carousel-indicator"
    color="accent"
    [value]="i"
    (change)="selectSlide(i)"
  ></mat-radio-button>
</mat-radio-group>
