:host {
    display: block;
    height: min-content;
}

.carousel-slides-container {
    position: relative;
}

.carousel-control {
    position: absolute;
    top: 0;
    height: 100%;
    font-weight: bold;
    z-index: 10;

    &.previous {
        left: 0;
    }

    &.next {
        right: 0;
    }
}

.carousel-slides {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;

    mat-radio-button.carousel-indicator {
        width: 21.5px;
    }
}
