<ng-content select="app-carousel-slide"></ng-content>

<ng-container *ngIf="showControls">
  <button
    mat-button
    class="carousel-control previous"
    [ngClass]="{'compact': !showIndicators}"
    (click)="previousSlide()"
  >
    &#10094;
  </button>
  <button
    mat-button
    class="carousel-control next"
    [ngClass]="{'compact': !showIndicators}"
    (click)="nextSlide()"
  >
    &#10095;
  </button>
</ng-container>

<mat-radio-group
  *ngIf="showIndicators"
  class="carousel-indicators"
  [value]="selectedSlideIndex"
>
  <mat-radio-button
    *ngFor="let slide of slides; index as i"
    class="carousel-indicator"
    color="accent"
    [value]="i"
    (change)="selectSlideByIndex(i)"
  ></mat-radio-button>
</mat-radio-group>
