.side-navigation-container {
    height: 100%;

    .side-navigation {
        min-width: 200px;
        width: 100%;
        max-width: 300px;
    }
}

.content {
    width: calc(100% - 2rem);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 599px) {
        max-width: 80%;
        margin: 2rem auto;
    }
}
