// mat-palette: $palette-name, main, light, dark
$light-theme-primary: mat-palette($mat-green, 600, 300, 900);
$light-theme-accent: mat-palette($mat-green, 600, 300, 900);
$light-theme-warn: mat-palette($mat-red, 600);

$light-theme: mat-light-theme(
    $light-theme-primary,
    $light-theme-accent,
    $light-theme-warn
);
