.pageNotFound {
    text-align: center;

    img {
        max-width: 300px;
        height: auto;
        overflow: hidden;
        margin: 32px;
    }

    a {
        margin: 32px 0 64px 0;
    }
}
